@charset "utf-8";

#container {
    height: 440px;
    width: 360px;
}

#temp_container {
    width:200px;
    height:150px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	left: -2px;
	top: 90px;
	background: grey;
}

#location{
	height: 40px;
	width: 180px;
	position: relative;
	top: -10px;
	left: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}

			
h1{
	font-family: "Poppins";
	font-weight: lighter;
    font-size: 50px;
    display: inline-block;
}

#degree{
    font-size: 30px;
    display: inline-block;
	position: relative;
	top: -40px;
}

#high_temp {
	position: absolute;
	top: 102px;
	right: 15px;
}


#low_temp {
	position: absolute;
	top: 102px;
	left: 15px;
}

#wind_speed {
	display: inline;
	font-size: 30pt;
	position: relative;
	top: 10px;
	left: 25px;
}

#humidity {
	display: inline;
	font-size: 30pt;
	position: relative;
	top: 10px;
	left: 60px;
}

.forecast {
	position: absolute;
	left: 10px;
	top: 315px;
}

#temp {
    font-size: 50pt;
	line-height: 0px;
	position: relative;
	top: -35px;
}

#weather_icon {
	position: absolute;
	left: 225px;
	top: 90px;
	width: 120px;
	height: 120px;
}

#weather {
	color: black;
	width: 175px;
	display: inline;
	position: absolute;
	text-align: center;
	bottom: 13px;
	font-size: 20px;
}

#other_container {
	height: 80px;
	width: 380px;
	position: absolute;
	top: 235px;
	left: -2px;
}

#wind {
	display: inline;
	position: relative;
	top: 10px;
	left: 20px;
	font-size: 40px;
}

#speed {
	display: inline;
	position: relative;
	top: 10px;
	left: 25px;
}

#water {
	display: inline;
	position: relative;
	top: 10px;
	left: 55px;
	font-size: 40px;
}

#percent {
	display: inline;
	position: relative;
	top: 10px;
	left: 60px;
}

.daily_icon {
	width: 40px;
	height: 40px;
}

#per_day {
	display: inline-block;
	width: 44px;
	vertical-align: middle;
	text-align: center;
}

#go {
	position: relative;
	left: 325px;
	bottom: 32px;
	height: 34px;
	width: auto;
	color: white;
    border: none;
	cursor: pointer;
	border-radius: 5px;
}

#search {
	display: block;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 380px;
	height: 34.6px;
	position: absolute;
	left: -2px;
}

#search_input {
	position: relative;
	margin-top:-3px;
	border-radius: 5px;
	margin-left:50px;
	padding:5px;
	width: 340px;
	height:18px;
	left: -50px;
	font-family: "Open Sans",serif;
	border: white 1px solid;
}

#search_input:focus{
	border: dodgerblue solid 1px;
}

.line {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 60px;
	background: grey;
}

#mode {
	border: none;
	cursor: pointer;
	background-color: #a2a2a2;
    padding: 7px 10px;
    font-size: 16px;
    right: 5px;
    top: 5px;
    position: absolute;
	opacity: 0.5;
}

#mode:hover {
	opacity: 1;
}

#icon_bg {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 90px;
	left: 198px;
	background-color: whitesmoke;
}

#loading {
	position: fixed;
	left: -2px;
	top: -10px;
	width: 800px;
	height: 800px;
	background: white;
}

#loading-image {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 120px;
	left: 110px;
}

h5 {
	background: linear-gradient(to bottom right, #ff8701, #31abe4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 12pt;
	position: absolute;
	top: 224px;
	left: 115px;
}