@charset "utf-8";
#heading {
    color: #6BB75F;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;	
}

body p {
    color: #64CCA3;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.btn {
	background-color: #7BD2DE;
  border: none; 
  color: white;
  padding: 7px 8px; 
  font-size: 16px; 
  cursor: pointer; 
}
.btn:hover {
  background-color: #D098D5;
}

#container {
    height: 200px;
    width: 200px;

}
#page_container {
	margin: auto;
	width: 50%;
}
