@charset "utf-8";
#heading {
    color: #6BB75F;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;	
}

body p {
    color: #64CCA3;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.btn {
	background-color: #7BD2DE;
    border: none;
    color: white;
    padding: 7px 8px;
    font-size: 16px;
    cursor: pointer;
    right: 5px;
    top: 5px;
    position: absolute;
}
.btn:hover {
  background-color: #D098D5;
}

#container {
    height: 500px;
    width: 360px;
}

#page_container {
	margin: auto;
	width: 50%;
}

#temp_container {
    border: 3px solid black;
    width:200px;
    height:150px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
}

#location{
/*    border: 3px solid black;*/
	height: 40px;
	position: relative;
	top: -20px;
	
}

.weather{
    border: 3px solid black;
}

h1{
    font-size: 50px;
    display: inline-block;
}

#degree{
    font-size: 30px;
    display: inline-block;
	position: relative;
	top: -40px;
}

#high_temp {
	position: relative;
	bottom: 60px;
	right: 47px;
}


#low_temp {
	position: relative;
	bottom: 93px;
	left: 47px;
}

#wind_speed {
	display: inline;
	font-size: 30pt;
	position: relative;
	top: 10px;
	left: 15px;
}

#humidity {
	display: inline;
	font-size: 30pt;
	position: relative;
	top: 10px;
	left: 65px;
}

.forecast {
/*	border: 3px solid black;*/
	position: relative;
	left: 2px;
}

.day_forecast {
	border-color: #000000;
}
#temp {
    font-size: 50pt;
	line-height: 0px;
	position: relative;
	top: -40px;
	
}

#weather_icon {
	position: relative;
	left: 15px;
	bottom: 30px;
	width: 120px;
	height: 120px;
}

#search {
/*	width: 500px;*/
	display: block;
}

#weather {
	position: relative;
	bottom: 20px;
	left: 220px;
}

#other_container {
	height: 80px;
	border-radius: 10px;
}

#wind {
	display: inline;
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 40px;
}

#speed {
	display: inline;
	position: relative;
	top: 10px;
	left: 15px;
}

#water {
	display: inline;
	position: relative;
	top: 10px;
	left: 60px;
	font-size: 40px;
}

#percent {
	display: inline;
	position: relative;
	top: 10px;
	left: 65px;
}

.daily_icon {
	width: 40px;
	height: 40px;
}

#per_day {
/*	border: 3px solid black;*/
	display: inline-block;
	width: 47px;
	vertical-align: middle;
	text-align: center;
}

#go {
	position: relative;
	left: 170px;
	bottom: 21.5px;
}
